In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from random import sample
import statsmodels.api as sm
from scipy import stats
%matplotlib inline
plt.rcParams['figure.figsize']=(12,8)

C:\Users\Satya\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
#reading the data.
data=pd.read_csv("CustomerData.csv",sep=",")

In [3]:
data.shape

(3209, 14)

In [4]:
data.head(5)

,CustomerID,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,FavoriteChannelOfTransaction,FavoriteGame,TotalRevenueGenerated
0,1001,1,2,3,8,210,11,11,2344,108,10,Uniform,Uniform,107.51
1,1002,1,2,3,6,442,20,20,245,22,7,Favorite,Uniform,382.40
2,1003,1,4,3,5,424,18,18,1059,130,18,Favorite,Uniform,135.01
3,1004,1,1,6,6,261,11,9,365,34,11,Favorite,Uniform,125.00
4,1005,1,3,6,9,422,44,31,1066,102,44,Uniform,Uniform,335.05

In [5]:
data.tail(5)

,CustomerID,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,FavoriteChannelOfTransaction,FavoriteGame,TotalRevenueGenerated
3204,4205,1,2,4,6,365,16,16,827,78,16,Favorite,Uniform,132.50
3205,4206,1,2,2,5,348,20,20,2933,294,13,Favorite,Uniform,223.23
3206,4207,1,2,5,7,341,16,13,1250,126,16,Uniform,Uniform,120.00
3207,4208,1,2,6,7,368,18,14,1364,122,18,Favorite,Uniform,161.50
3208,4209,1,3,2,6,389,25,17,475,111,25,Favorite,Uniform,137.50

In [6]:
data.describe()

,CustomerID,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,TotalRevenueGenerated
count,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000,3209.000000
mean,2605.000000,1.114054,2.128389,4.960735,7.990651,347.520411,16.269554,14.684014,1568.207853,93.627921,14.761608,168.477183
std,926.502833,0.317927,1.035092,3.714191,8.784084,90.520118,8.441670,7.182029,1810.630464,88.936372,8.773910,81.798528
min,1001.000000,1.000000,1.000000,0.000000,3.000000,100.000000,1.000000,1.000000,0.000000,0.000000,0.000000,100.000000
25%,1803.000000,1.000000,1.000000,4.000000,6.000000,301.000000,11.000000,10.000000,446.000000,37.000000,10.000000,116.640000
50%,2605.000000,1.000000,2.000000,5.000000,7.000000,368.000000,14.000000,13.000000,1029.000000,70.000000,14.000000,142.390000
75%,3407.000000,1.000000,3.000000,6.000000,8.000000,417.000000,19.000000,17.000000,2029.000000,119.000000,19.000000,191.250000
max,4209.000000,2.000000,11.000000,113.000000,113.000000,472.000000,119.000000,112.000000,27829.000000,1166.000000,115.000000,990.560000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3209 entries, 0 to 3208
Data columns (total 14 columns):
CustomerID                      3209 non-null int64
City                            3209 non-null int64
NoOfChildren                    3209 non-null int64
MinAgeOfChild                   3209 non-null int64
MaxAgeOfChild                   3209 non-null int64
Tenure                          3209 non-null int64
FrquncyOfPurchase               3209 non-null int64
NoOfUnitsPurchased              3209 non-null int64
FrequencyOFPlay                 3209 non-null int64
NoOfGamesPlayed                 3209 non-null int64
NoOfGamesBought                 3209 non-null int64
FavoriteChannelOfTransaction    3209 non-null object
FavoriteGame                    3209 non-null object
TotalRevenueGenerated           3209 non-null float64
dtypes: float64(1), int64(11), object(2)
memory usage: 351.1+ KB

In [8]:
data.isnull().sum()

CustomerID                      0
City                            0
NoOfChildren                    0
MinAgeOfChild                   0
MaxAgeOfChild                   0
Tenure                          0
FrquncyOfPurchase               0
NoOfUnitsPurchased              0
FrequencyOFPlay                 0
NoOfGamesPlayed                 0
NoOfGamesBought                 0
FavoriteChannelOfTransaction    0
FavoriteGame                    0
TotalRevenueGenerated           0
dtype: int64

In [9]:
list(data.columns)#colum names in the data.

['CustomerID',
 'City',
 'NoOfChildren',
 'MinAgeOfChild',
 'MaxAgeOfChild',
 'Tenure',
 'FrquncyOfPurchase',
 'NoOfUnitsPurchased',
 'FrequencyOFPlay',
 'NoOfGamesPlayed',
 'NoOfGamesBought',
 'FavoriteChannelOfTransaction',
 'FavoriteGame',
 'TotalRevenueGenerated']

In [10]:
#dropping customer id since it is Key.
data.drop('CustomerID',axis=1,inplace=True)

In [11]:
data.shape # data shape changed from (3209,14) to (3209,13)

(3209, 13)

In [12]:
data.dtypes

City                              int64
NoOfChildren                      int64
MinAgeOfChild                     int64
MaxAgeOfChild                     int64
Tenure                            int64
FrquncyOfPurchase                 int64
NoOfUnitsPurchased                int64
FrequencyOFPlay                   int64
NoOfGamesPlayed                   int64
NoOfGamesBought                   int64
FavoriteChannelOfTransaction     object
FavoriteGame                     object
TotalRevenueGenerated           float64
dtype: object

In [13]:
#Label encoding of City,FavoriteChannelOfTransaction,FavoriteGame
data['City']=data['City'].astype('category')
data['FavoriteChannelOfTransaction']=data['FavoriteChannelOfTransaction'].astype('category')
data['FavoriteGame']=data['FavoriteGame'].astype('category')
data.dtypes

City                            category
NoOfChildren                       int64
MinAgeOfChild                      int64
MaxAgeOfChild                      int64
Tenure                             int64
FrquncyOfPurchase                  int64
NoOfUnitsPurchased                 int64
FrequencyOFPlay                    int64
NoOfGamesPlayed                    int64
NoOfGamesBought                    int64
FavoriteChannelOfTransaction    category
FavoriteGame                    category
TotalRevenueGenerated            float64
dtype: object

In [14]:
data['City']=data['City'].cat.codes
data['FavoriteChannelOfTransaction']=data['FavoriteChannelOfTransaction'].cat.codes
data['FavoriteGame']=data['FavoriteGame'].cat.codes
data.head()

,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,FavoriteChannelOfTransaction,FavoriteGame,TotalRevenueGenerated
0,0,2,3,8,210,11,11,2344,108,10,1,1,107.51
1,0,2,3,6,442,20,20,245,22,7,0,1,382.40
2,0,4,3,5,424,18,18,1059,130,18,0,1,135.01
3,0,1,6,6,261,11,9,365,34,11,0,1,125.00
4,0,3,6,9,422,44,31,1066,102,44,1,1,335.05

In [15]:
# splitting data into 2 sets training and test. 70/30 split.i.e. 2246 and 963
train=data.sample(frac=0.7,random_state=200)
test=data.drop(train.index)

In [16]:
train.shape

(2246, 13)

In [17]:
test.shape

(963, 13)

In [18]:
reg=linear_model.LinearRegression()

In [19]:
reg.fit(train.iloc[:,:12],train.iloc[:,[12]])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
train_pred=reg.predict(train.iloc[:,:12])

In [21]:
#training data
print('Coefficients: \n',reg.coef_)
print("Mean Squared Error: %.2f"% mean_squared_error(train.iloc[:,[12]],train_pred))
print("Varaiance score: %.2f"%r2_score(train.iloc[:,[12]],train_pred))

Coefficients:
 [[  8.93387928e+00   1.96577768e+00   8.40971472e-01  -1.03035018e-01
   -1.64522634e-02   1.07316302e+01   9.41112068e+00   3.25833034e-03
   -3.81538427e-02  -1.18196821e+01  -1.37957954e+01  -1.14335686e+01]]
Mean Squared Error: 1969.29
Varaiance score: 0.72

In [22]:
sxy=np.sum((train.iloc[:,[12]]-np.mean(train.iloc[:,[12]]))*(train_pred-np.mean(train_pred)))/(train_pred.shape[0]-1)

In [23]:
sxsy=(np.sqrt(np.sum((train.iloc[:,[12]]-np.mean(train.iloc[:,[12]]))**2)/(train.iloc[:,[12]].shape[0]-1)))*(np.sqrt(np.sum((train_pred-np.mean(train_pred))**2)/(train_pred.shape[0]-1)))

In [24]:
rsquare=(sxy/sxsy)**2
print(rsquare)

TotalRevenueGenerated    0.718575
dtype: float64

In [25]:
reg1=sm.OLS(train.iloc[:,[12]],sm.add_constant(train.iloc[:,:12]))

In [26]:
result=reg1.fit()

In [27]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              OLS Regression Results
=================================================================================
Dep. Variable:     TotalRevenueGenerated   R-squared:                       0.719
Model:                               OLS   Adj. R-squared:                  0.717
Method:                    Least Squares   F-statistic:                     475.1
Date:                   Sun, 30 Sep 2018   Prob (F-statistic):               0.00
Time:                           23:33:09   Log-Likelihood:                -11705.
No. Observations:                   2246   AIC:                         2.344e+04
Df Residuals:                       2233   BIC:                         2.351e+04
Df Model:                             12
Covariance Type:               nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           39.8046      6.524      6.101      0.000      27.010      52.599
City                             8.9339      3.029      2.950      0.003       2.994      14.874
NoOfChildren                     1.9658      0.943      2.085      0.037       0.117       3.815
MinAgeOfChild                    0.8410      0.247      3.406      0.001       0.357       1.325
MaxAgeOfChild                   -0.1030      0.108     -0.955      0.340      -0.315       0.108
Tenure                          -0.0165      0.011     -1.520      0.129      -0.038       0.005
FrquncyOfPurchase               10.7316      0.517     20.749      0.000       9.717      11.746
NoOfUnitsPurchased               9.4111      0.378     24.880      0.000       8.669      10.153
FrequencyOFPlay                  0.0033      0.001      3.933      0.000       0.002       0.005
NoOfGamesPlayed                 -0.0382      0.018     -2.162      0.031      -0.073      -0.004
NoOfGamesBought                -11.8197      0.361    -32.772      0.000     -12.527     -11.112
FavoriteChannelOfTransaction   -13.7958      2.541     -5.429      0.000     -18.779      -8.813
FavoriteGame                   -11.4336      5.135     -2.227      0.026     -21.503      -1.364
==============================================================================
Omnibus:                      701.560   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4564.822
Skew:                           1.311   Prob(JB):                         0.00
Kurtosis:                       9.473   Cond. No.                     1.97e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.97e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
result.aic

23436.744231263037

In [29]:
test_pred=result.predict(sm.add_constant(test.iloc[:,:12]))

In [30]:
test_pred.shape

(963,)

In [31]:
#test data
print("Mean Squared Error: %.2f"% mean_squared_error(test.iloc[:,[12]],test_pred))
print("Varaiance score: %.2f"%r2_score(test.iloc[:,[12]],test_pred))

Mean Squared Error: 1687.32
Varaiance score: 0.72